@import url("https://fonts.googleapis.com/css2?family=Syncopate&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rajdhani:wght@600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@300&display=swap");

.section-title {
  font-family: "Syncopate", sans-serif;
  color: cyan;
  transition: 0.5s ease-in-out;
}
.section-title:hover {
  color: #00ffbf;
}

.curved-div {
  font-size: 40px;
  text-align: center;
  border-radius: 4px;
  padding-bottom: 20px;
  background-color: #343a40;
  transition: 0.5s ease-in-out;
}
.curved-div:hover {
  background-color: #121416;
  border-bottom-left-radius: 100%;
  border-bottom-right-radius: 100%;
}

.ProjectCard {
  font-family: "Work Sans", sans-serif;
}

.form-card {
  background-color: black;
  border: 1px solid black;
  color: white;
  transition: 0.5s ease-in-out;
}
.form-card:hover {
  border: 1px solid white;
  border-radius: 10px;
}

.content {
  font-size: 20px;
  color: azure;
  font-family: "Poppins", sans-serif;
}

.accordion-item {
  background-color: #0a0a1d;
}

.accordion-button {
  font-family: "Rajdhani", sans-serif;
  background-color: #121416;
  color: white;
  border-top: 1px solid whitesmoke;
  padding: 16px;
  outline: none;
  font-size: 20px;
  transition: 0.5s ease-in-out;
  user-select: none;
}
.accordion-button:hover {
  background-color: #232366;
  color: bisque;
}
.accordion-button:before {
  display: inline-block;
  content: "";
  height: 10px;
  width: 10px;
  margin-right: 12px;
  border-bottom: 2px solid currentColor;
  border-right: 2px solid currentColor;
  transform: rotate(-45deg);
}
.accordion-button[aria-expanded="true"]::before,
.accordion-button[aria-selected="true"]::before {
  transform: rotate(45deg);
}
.accordion-button[aria-expanded="true"] {
  border-bottom: 1px solid cadetblue;
  color: bisque;
  background-color: initial;
}

.accordion-button:after {
  content: " ...";
}
.accordion-button[aria-expanded="true"]::after {
  content: initial;
}

.icon-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: auto;
  justify-items: stretch;
  text-align: center;
  gap: 15px;
  padding: 15px;
}
.icon-grid > span {
  transition: 0.5s ease-in-out;
  padding: 10px;
  border-radius: 50px;
}
.icon-grid > span:hover {
  background-color: #a6c3e0;
}

.btn-resume {
  font-family: "Syncopate", sans-serif;
  background-color: #0041ff;
  border: 1px solid inherit;
  transition: 0.5s ease-in-out;
}
.btn-resume:hover {
  border: 1px solid #0041ff;
  background-color: unset;
  color: #0041ff;
}

.SOURCE {
  position: absolute;
  bottom: 10%;
  margin-left: -15px;
  font-size: 16px;
  font-family: "Syncopate", sans-serif;
  font-weight: bold;
}

@media screen and (max-width: 400px) {
  .icon-grid {
    gap: 0px;
  }
}
