.link {
  color: cyan;
  transition: 0.5s ease-in-out;
}

.link:hover {
  text-decoration: none;
  color: #00ffbf;
}

.link-white {
  color: white;
}

.link-white:hover {
  text-decoration: none;
  color: white;
}

.active-link {
  color: #ff4d4d;
}
.active-link:hover {
  color: #0080ff;
}

.font-em {
  font-size: 1.2rem;
}

.email-link {
  color: whitesmoke;
  cursor: pointer;
  transition: 0.5s ease-in-out;
}
.email-link:hover {
  text-decoration: none;
  color: #00ffbf;
}

.discord-link {
  color: whitesmoke;
  cursor: pointer;
  transition: 0.5s ease-in-out;
}
.discord-link:hover {
  color: #7289da;
  text-decoration: none;
}
