@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,400;1,300&display=swap");

:root {
  --radius: 50px;
}
.Progress {
  background-color: gray;
  transition: 0.5s ease-in-out;
  text-align: center;
  margin: 10px auto;
}
.Progress:hover {
  background-color: cadetblue;
  border-radius: var(--radius);
}
.ProgressBar {
  font-family: "Roboto Mono", monospace;
  transition: 0.5s ease-in-out;
  background-color: aquamarine;
  font-weight: bold;
  height: 25px;
}
.ProgressBar:hover {
  background-color: aliceblue;
  border-top-left-radius: var(--radius);
  border-bottom-left-radius: var(--radius);
}
