.Progress {
  background-color: gray;
  transition: 0.5s ease-in-out;
  text-align: center;
  margin: 10px auto;
}
.Progress:hover {
  background-color: cadetblue;
}
.ProgressBar {
  transition: 0.5s ease-in-out;
  background-color: cyan;
  font-weight: bold;
  height: 25px;
}
.ProgressBar:hover {
  background-color: #00ffbf;
}
