body::-webkit-scrollbar {
  width: 0.5em;
  background-color: black;
}

body::-webkit-scrollbar-thumb {
  background-color: #00ffbf;
  border-radius: 10px;
}

html {
  scroll-snap-type: y none;
  overflow-x: hidden;
}

body {
  background-color: black;
}

.scroll-child {
  scroll-snap-align: start;
  min-height: 100vh;
}

.scroll-x {
  overflow-x: auto;
}

@media (hover: hover) {
  html {
    scroll-snap-type: y proximity;
    overflow-x: hidden;
  }
  .scroll-child {
    scroll-snap-align: start;
    min-height: 100vh;
  }
}
